.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #0d6efd;
  padding-top: 20px;
  padding: 20px;
  color: white;
  z-index: 1030;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar h4 {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
}

.sidebar a {
  color: white;
  padding: 12px 18px;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 8px;
  gap: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: background-color 0.25s ease, color 0.25s ease;
  margin: 10px 0;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #0a58ca;
}

.sidebar hr {
  width: 100%;
  border-color: rgba(255, 255, 255, 0.4);
  margin: 15px 0;
}

.sidebar .btn {
  margin-top: auto;
}

.content {
  padding: 40px 20px 40px 270px;
  transition: padding-left 0.3s ease;
}

.content .img{
  display: flex;
  justify-content: end;
}


@media (max-width: 850px) {
  .sidebar {
    width: 180px;
    padding: 20px 10px;
    align-items: center;
  }

  .sidebar a {
    padding: 12px;
  }

  .sidebar a span,
  .sidebar a .label {
    display: none !important;
  }

  .content {
    padding-left: 200px;
  }
}

@media (max-width: 530px) {
  .sidebar {
    top: 0;
    bottom: auto;
    height: 65px;
    width: 100%;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-bottom: none;
    padding: 0;
  }

  .sidebar hr,
  .sidebar h4,
  .sidebar .btn {
    display: none !important;
  }

  .sidebar a {
    flex-direction: column;
    margin: 0 8px;
    padding: 6px;
    border-radius: 8px;

    font-size: 12px;
    gap: 4px;
    width: auto;
  }

  .sidebar a span {
    display: none;
  }

  .content {
    margin-left: 0;
    padding: 80px 20px 20px 20px;
  }
}