{% extends 'base.html' %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='livros_lista.css') }}">
  <h2>Catálogo de Livros</h2>

  {% if livros %}
    <div class="livros-container">
      {% for livro in livros %}
        <div class="livro-card">
          <div class="livro-img">
            {% if livro.liv_capa_url %}
              <img src="{{ livro.liv_capa_url }}" alt="Capa do livro {{ livro.liv_titulo }}">
            {% else %}
              <img src="{{ url_for('static', filename='images/placeholder_book.png') }}" alt="Capa padrão">
            {% endif %}
          </div>
          <div class="livro-info">
            <h3>{{ livro.liv_titulo }}</h3>
            <p class="autor">por {{ livro.liv_autor }}</p>
            <p class="preco">R$ {{ "%.2f"|format(livro.liv_preco) }}</p>
            <a href="{{ url_for('livros.detalhes_livro', livro_id=livro.liv_id) }}" class="btn-detalhes">Ver detalhes</a>
            
            {% if current_user.usu_tipo == "bibliotecario" %}
              <button class="btn-comprar">Editar</button>
            {% else %}
              <button class="btn-comprar">Comprar</button>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>Não há livros cadastrados.</p>
  {% endif %}

  {% if current_user.usu_tipo == "bibliotecario" %}
    <a href="{{ url_for('livros.adicionar_livro') }}" class="btn-adicionar">Adicionar novo livro</a>
  {% endif %}
  <br>
  <a href="{{ url_for('main.index') }}">Voltar para Início</a>

{% endblock %}
